.container {
  margin: 0 auto;
  min-width: $min-width-container;
  max-width: $max-width-container;
  padding: 0 $horizontal-phone-padding;

  @media (min-width: $tablet-width) {
    padding: 0 $horizontal-tablet-padding;
  }

  @media (min-width: $desktop-width) {
    padding: 0 $horizontal-desktop-padding;
  }
}
