*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $primary-text-color;
}

img {
  display: block;
  object-fit: contain;
  min-width: 100%;
  max-width: 100%;
}

a {
  display: block;
}


input[type="number"] {
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
}
