@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button ($font-size: 16px, $line-height: 20px, $color: #ffffff, $background-color: $basic-green) {
  display: inline-block;
  font-family: $secondary-font;
  border: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $background-color;
  color: $color;
  cursor: pointer;
}

@mixin button-primary-states ($background-color: $basic-green-2) {
  &:hover,
  &:focus-visible {
    background-color: $background-color;
  }

  &:active {
    .button__text-mark {
      opacity: 0.3;
    }
  }
}

/* Основные параметры для текста заголовка */
@mixin secondary-decoration ($font-size, $line-height, $color: $secondary-text-color) {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
  color: $color;
}

/* Основные параметры для фоновых картинок */
@mixin background-image-set {
  background-color: rgba(104, 183, 56, 0.85);
  background-repeat: no-repeat;
  object-fit: cover;
}

/* Оформление для декоративных svg картинок в списке преимуществ. */
@mixin advantages-images ($background-image, $background-size-width, $background-size-height) {
  background-image: $background-image;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;
  background-size: $background-size-width, $background-size-height;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

/* Обнуление стилей списков */
@mixin list-normalize {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
