@mixin font-face ($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button {
  display: inline-block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

/* Основные параметры для текста заголовка */
@mixin secondary-decoration-text ($font-size, $line-height, $color: $secondary-text-color) {
  font-family: $secondary-font;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
  color: $color;
}

/* Оформление для декоративных svg картинок в списке преимуществ. */
@mixin advantages-images ($background-image, $background-size-width, $background-size-height) {
  &::after {
    content: "";
    background-image: $background-image;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $basic-green;
    background-size: $background-size-width, $background-size-height;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }
}


/* Обнуление стилей списков */
@mixin list-normalize {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
