/* Шрифты */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

/* Цвета */
$primary-text-color: #444444;
$secondary-text-color: #000000;
$basic-green: #68b738;
$basic-green-2 : #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey-2: #eaeaea;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$error-color: #ff8282;

/* Экран */
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1220px;
$pre-tablet: 767px;

/* Контейнер */
$min-width-container: 320px;
$max-width-container: 1280px;

/* Паддинги */
$horizontal-phone-padding : 20px;
$horizontal-tablet-padding: 30px;
$horizontal-desktop-padding: 110px;
$horizontal-tablet-padding-greater: 70px;
$horizontal-desktop-padding-greater: 80px;
