/* Шрифты */
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

/* Цвета */
$primary-text-color: #444444;
$secondary-text-color: #000000;
$basic-green: #68b738;
$basic-green-2 : #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey-2: #eaeaea;

/* Экран */
$tablet-width: 768px;
$desktop-width: 1220px;
