/* GLOBAL */
@import "./global/variables.scss";
@import "./global/mixins.scss";
@import "./global/fonts.scss";
@import "./global/global.scss";
@import "./global/visually-hidden.scss";
@import "./global/container.scss";
@import "./global/container-greater.scss";
@import "./global/title-decoration.scss";


/* BLOCKS */
/*  primary */
@import "./blocks/page.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/header-logo.scss";
@import "./blocks/nav.scss";

/* BLOCKS */
/* index.html */
@import "./blocks/hero.scss";
@import "./blocks/services.scss";
@import "./blocks/services-item.scss";
@import "./blocks/advantages.scss";
@import "./blocks/example.scss";
@import "./blocks/example-slider.scss";
@import "./blocks/slider-mark-image.scss";

/* BLOCKS */
/* form.html */
@import "./blocks/form.scss";

/* BLOCKS */
/* catalog.html */
@import "./blocks/cards-catalog.scss";
@import "./blocks/card-catalog.scss";
@import "./blocks/catalog-extra-offer-container.scss";
@import "./blocks/catalog-extra.scss";
@import "./blocks/advantages-offer.scss";

/* BLOCKS */
/* secondary */
@import "./blocks/main.scss";
@import "./blocks/address.scss";
@import "./blocks/logo-text.scss";
@import "./blocks/social-list.scss";
@import "./blocks/developer-logo.scss";
@import "./blocks/footer.scss";
