.address {
  position: relative;
}

.address--nojs {
  & .address__image-wrapper {
    display: block;
    position: absolute;
    bottom: 0;

    @media (min-width: $desktop-width) {
      top: 0;
    }

    & .address__invite-wrapper {
      z-index: 1;
    }
  }
}

.address__invite-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 18px;
  background-color: $basic_grey;
  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    gap: 0;
    min-height: 200px;
    padding-right: 54px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: calc(22% + 5px);
    left: calc(7% + 3px);
    gap: 87px;
    width: 565px;
    min-height: 199px;
    background-color: #ffffff;
    padding-right: 76px;
    padding-left: 86px;
  }
}

.address__invite-wrapper--index {
  @media (max-width: $pre-desktop) {
    background-color: transparent;
  }
}

.address__title {
  @include secondary-decoration-text (16px, 20px);
  margin: 0;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    margin-right: auto;
  }
}

.address__description {
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    padding-bottom: 22px;
    margin-right: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: initial;
    margin-right: 0;
  }
}

.address__description-city {
  @media (min-width: $tablet-width) {
    transform: translateY(20px);
  }
}

.address__map {
  display: block;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.address__image-wrapper {
  display: none;
  width: 100%;
}

.address__map-image {
  object-fit: cover;
}
