.advantages-offer {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: $horizontal-phone-padding;
  padding-right: $horizontal-phone-padding;

  @media (min-width: $tablet-width) {
    padding-left: 31px;
    padding-right: 13px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    padding: 0;
    margin: 0;
  }
}

.advantages-offer__wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url("../../images/catalog/offer-decoration.svg"), linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), image-set(url("../../images/catalog/catalog-background-extra-phone@1x.webp") type("image/webp") 1x, url("../../images/catalog/catalog-background-extra-phone@2x.webp") type("image/webp") 2x, url("../../images/catalog/catalog-background-extra-phone@1x.jpg") type("image/jpeg") 1x, url("../../images/catalog/catalog-background-extra-phone@2x.jpg") type("image/jpeg") 2x);
  background-repeat: no-repeat;
  background-size: 70px 80px, contain, contain;
  background-position: 50% 59px, center, center;
  background-color: rgba(104, 183, 56, 0.85);
  min-width: 280px;
  min-height: 290px;
  padding-top: 128px;
  padding-bottom: 43px;
  margin: 0 auto;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    justify-content: end;
    align-items: center;
    background-image: url("../../images/catalog/offer-decoration.svg"), linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), image-set(url("../../images/catalog/catalog-background-extra-tablet@1x.webp") type("image/webp") 1x, url("../../images/catalog/catalog-background-extra-tablet@2x.webp") type("image/webp") 2x, url("../../images/catalog/catalog-background-extra-tablet@1x.jpg") type("image/jpeg") 1x, url("../../images/catalog/catalog-background-extra-tablet@2x.jpg") type("image/jpeg") 2x);
    background-size: 80px 83px, 100% 100%, 100% 100%;
    background-position: 79px 50%, center, center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 200px;
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: end;
    background-image: url("../../images/catalog/offer-decoration.svg"), linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), image-set(url("../../images/catalog/catalog-background-extra-desktop@1x.webp") type("image/webp") 1x, url("../../images/catalog/catalog-background-extra-desktop@2x.webp") type("image/webp") 2x, url("../../images/catalog/catalog-background-extra-desktop@1x.jpg") type("image/jpeg") 1x, url("../../images/catalog/catalog-background-extra-desktop@2x.jpg") type("image/jpeg") 2x);
    background-size: 80px 83px, 100% 100%, 100% 100%;
    background-position: 50% 53px, center, center;
    min-width: auto;
    max-width: 248px;
    min-height: 292px;
    padding-top: 132px;
    padding-bottom: 43px;
    margin: 0;
  }
}

.advantages-offer__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: initial;
    margin-right: 125px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin-right: 0;
  }
}
