.advantages {}

.advantages__container {}

.advantages__title {
  @include secondary-decoration-text (36px, 40px);

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list-normalize;
}

.advantages__item {}

.advantages__item-leaf-image {
  @include advantages-images (url("/images/icons/stack.svg#leaf"), 25px, 28px);
  background-size: 25px 28px;
}

.advantages__item-boiling-water-image {
  @include advantages-images (url("/images/icons/stack.svg#boiling-water"), 26px, 29px);
}

.advantages__item-fork-and-knife-image {
  @include advantages-images (url("/images/icons/stack.svg#fork-and-knife"), 25px, 30px);
}

.advantages__item-clock-image {
  @include advantages-images (url("/images/icons/stack.svg#clock"), 26px, 31px);
}

.advantages__item-description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
