.button {
  @include button;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.button--pick-up {
  @include button-primary-states;
  min-width: 100%;
  padding: 10px 44px;
  margin: 0 auto 20px auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: calc(70% - 50px);
    z-index: 1;
    min-width: 244px;
    min-height: 54px;
    padding: 14px 26px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.button--form {
  @include button-primary-states;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 44px;

  @media (min-width: $tablet-width) {
    min-width: 284px;
    min-height: 54px;
    padding: 14px 45px;
  }
}

.button--order {
  @include button-primary-states;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    min-width: 250px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    padding: 10px 53px;
  }
}

.button--show-all {
  @include button-primary-states (#ebebebeb);
  background-color: $basic-grey;
  color: inherit;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 95px;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    padding: 10px 80px;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
    padding: 10px 39px;
  }
}

.button--extra {
  @include button-primary-states;
  min-width: 280px;
  min-height: 40px;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    min-width: 632px;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
  }
}
