.button {
  @include button;
}

.button--primary {
  background-color: $basic-green;
  color: #ffffff;

  &:hover,
  &:focus-visible {
    background-color: $basic-green-2;
  }

  &:active {
    color: rgba($color: #ffffff, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.button--secondary {
  background-color: $basic-grey;
  color: inherit;

  &:hover,
  &:focus-visible {
    background-color: $basic-grey-2;
  }

  &:active {
    color: rgba($color: $special-dark-grey, $alpha: 0.3);
  }
}
