.card-catalog {}

.card-catalog--more {}

.card-catalog__image {}

.card-catalog__title {
  @include secondary-decoration (16px, 20px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card-catalog__description {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-catalog-plus {}
