.cards-catalog {}

.cards-catalog__wrapper {}

.cards-catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.cards-catalog__list {
  @include list-normalize;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}

.cards-catalog__item:last-child {
  margin-bottom: 26px;
}

.cards-catalog__item--product {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }
}
