.card-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 206px max-content min-content min-content min-content max-content;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 13%, $basic-grey 0%, $basic-grey 97%, transparent 0%);
    padding-right: 37px;
    padding-left: 37px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
  }
}

.card-catalog__picture {
  grid-column: 1/2;
  grid-row: 1/5;
  align-self: end;

  @media (min-width: $tablet-width) {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 27px;
  }
}

.card-catalog--more {
  justify-items: center;

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
    background-image: linear-gradient(#ffffff, transparent);
  }
}

.card-catalog__image {}

.card-catalog__title {
  @include secondary-decoration-text (16px, 20px);
  grid-column: 2/3;
  grid-row: 1/2;
  max-width: 76px;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
    justify-self: center;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    max-width: 135px;
    margin-bottom: 20px;
  }
}

.card-catalog__title--more {
  grid-column: 1/-1;
  grid-row: 2/3;
  max-width: none;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    max-width: 135px;
    margin-top: -6px;
    margin-bottom: 24px;
  }
}

.card-catalog__value-group {
  grid-column: 2/-1;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
  }
}

.card-catalog__wrapper-decoration {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column: 2/-1;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special-grey;
    margin-bottom: 12px;
    grid-column: 1/-1;
  }
}

.card-catalog__description {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card-catalog__description--more {
  grid-column: 1/-1;
  grid-row: 3/4;
  margin-bottom: 23px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 82px;

    & br {
      display: block;
    }
  }
}


.card-catalog__plus {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
    align-self: end;
    margin-bottom: 50px;
  }
}

.card-catalog__plus-image {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
