.cards-catalog__wrapper {
  min-width: $min-width-container;
  max-width: $max-width-container;
  padding-top: 40px;
  padding-bottom: 19px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 65px;
    padding-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 74px;
    padding-bottom: 77px;
  }

  @media (max-width: $pre-tablet) {
    position: relative;

    &::before {
      position: absolute;
      top: 14px;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $basic-grey-2;
    }

    &::after {
      position: absolute;
      bottom: 4px;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $basic-grey-2;
    }
  }
}

.cards-catalog__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 0;
    margin-bottom: 101px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 103px;
  }
}

.cards-catalog__list {
  @include list-normalize;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 76px 60px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 82px 82px;
  }
}

.cards-catalog__item {
  &:nth-child(2) .card-catalog__picture {
    transform: translateY(3px);
  }

  &:nth-child(3) .card-catalog__picture {
    transform: translateY(-8px);
  }

  &:nth-child(5) .card-catalog__picture {
    transform: translateY(-11px);
  }

  &:nth-child(7) .card-catalog__picture {
    transform: translateY(-11px);
  }

  @media (min-width: $tablet-width) {
    max-width: 324px;

    &:last-child {
      margin-top: 71px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;

    &:last-child {
      margin-top: 58px;
    }
  }

  @media (max-width: $pre-tablet) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 1px;
      background-color: $basic-grey-2;
    }
  }

  @media (min-width: $tablet-width) and (max-width: $pre-desktop) {
    &:nth-child(2) .card-catalog__picture {
      transform: translateY(16px);
    }

    &:nth-child(3) .card-catalog__picture,
    &:nth-child(5) .card-catalog__picture,
    &:nth-child(7) .card-catalog__picture {
      transform: translateY(0);
    }

    &:nth-child(4) .card-catalog__picture,
    &:nth-child(6) .card-catalog__picture {
      transform: translateY(13px);
    }
  }
}
