.developer-logo {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    .developer-logo__image {
      color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.developer-logo__text {
}

.developer-logo__image {
}
