.developer-logo {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;

  &::after {
    position: absolute;
    top: -9px;
    right: 0;
    content: "";
    mask-image: url("../../images/icons/stack.svg#dev-logo");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
    background-color: $primary-text-color;
    width: 27px;
    height: 34px;
    transition: background-color 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 23px;
    min-width: 168px;

    &::after {
      display: block;
      transform: translate(18px, -5px);
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      transform: translate(1px, 5px);
    }
  }
}

.developer-logo--catalog {
  @media (max-width: $pre-tablet) {
    transform: translateX(-4px);

    &::after {
      right: -13px;
    }
  }
}


.developer-logo__text {
  transform: translate(22px, -7px);

  @media (min-width: $desktop-width) {
    transform: translate(6px, 3px);
  }
}
