.developer-logo {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;

  &::after {
    position: absolute;
    content: "";
    right: 0;
    mask-image: url("../../images/icons/stack.svg#dev-logo");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
    background-color: $primary-text-color;
    width: 27px;
    height: 34px;
    transition: background-color 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 23px;
    min-width: 168px;

    &::after {
      display: block;
      transform: translate(0, -5px);
    }
  }
}

.developer-logo__text {
}
