@use "../global/variables.scss" as *;

.developer-logo {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;

  &::after {
    position: absolute;
    top: -9px;
    right: 0;
    content: "";
    mask-image: url("../../images/icons/stack.svg#dev-logo");
    mask-repeat: no-repeat;
    mask-size: 27px 34px;
    mask-position: center;
    background-color: $primary-text-color;
    width: 27px;
    height: 34px;
    transition: background-color 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 168px;
    padding-bottom: 14px;
    margin-right: 16px;

    &::after {
      right: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-bottom: 0;
    margin-right: 12px;

    &::after {
      right: 9px;
      top: 1px;
    }
  }
}
