.example {}

.example__wrapper {
  padding: 25px 20px 20px 40px;
  background-color: $basic-grey-2;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-text-color;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px 0 30px;
    margin: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px;
    padding: 0 110px 0 110px;
  }
}

.example__description {
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 30px 0 30px;
    margin: 0 0 55px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px;
    padding: 0;
  }
}

.example__desktop-wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    aspect-ratio: 240/77;
    background-color: $basic-grey;
    padding: 70px 25px 75px 110px;
  }
}

.example__tablet-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px 0 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 1/2;
    padding: 0;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.example__list-wrapper {}

.example__item {
  @include secondary-decoration-text (24px, 24px);
  text-align: center;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example__item-description {
  font-size: 12px;
  line-height: 12px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__total {
  display: flex;
  justify-content: center;
  gap: 3px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: stretch;
    gap: 63px;
  }
}

.example__total-text {
  @include secondary-decoration-text (14px, 20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__total-price {
  @include secondary-decoration-text (14px, 20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__slider {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    background-color: $basic-grey-2;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    grid-row: 1/-1;
    transform: translateY(-230px);
    background-color: transparent;
    margin-bottom: 0;
  }
}
