.example {}

.example__wrapper {
  background-color: $basic-grey-2;

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.example__list {}

.example__list-wrapper {}

.example__item {
  @include secondary-decoration-text (24px, 24px);

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-description {
  font-size: 12px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__total {}

.example__total-text {
  @include secondary-decoration-text (14px, 20px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__total-price {
  @include secondary-decoration-text (14px, 20px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__slider {}
