.example {
  background-color: $basic-grey-2;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to bottom, #ffffff calc(55% + 5px), #ffffff 48%, #eaeaea 150px);
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, transparent 135px, transparent 135px, $basic-grey 135px);
    background-color: transparent;
  }
}

.example__wrapper {
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 41px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 85px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 2fr;
    aspect-ratio: 240/77;
    padding-bottom: 0;
  }
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $secondary-text-color;
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 0 0 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 17px;
  word-wrap: break-word;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 66px;
    padding: 0;

    & br {
      display: block;
    }
  }
}

.example__tablet-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 1/2;
    padding: 0;
    margin-bottom: 75px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    gap: 43px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.example__list-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid $special-grey;
  border-radius: 2px;
  min-width: 124px;
  min-height: 56px;

  @media (min-width: $tablet-width) {
    min-width: 162px;
    min-height: 77px;
  }
}

.example__item {
  @include secondary-decoration-text (24px, 24px);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-description {
  position: absolute;
  bottom: -17px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  margin: 0;
  background-color: $basic-grey-2;
  box-shadow: 25px 0 0 0 $basic-grey-2, -25px 0 0 0 $basic-grey-2;

  @media (min-width: $tablet-width) {
    bottom: -6px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    box-shadow: 5px 0 0 0 #ffffff, -5px 0 0 0#ffffff;

    & br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
    box-shadow: 5px 0 0 0 $basic-grey, -5px 0 0 0 $basic-grey;
  }
}

.example__total {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-bottom: 20px;
  margin-right: 9px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: start;
    align-items: end;
    gap: 9px;
    margin: 0;
    transform: translate(15px, 14px);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: stretch;
    gap: 66px;
    transform: translate(0, 0);
  }
}

.example__total-text {
  @include secondary-decoration-text (14px, 20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__total-price {
  @include secondary-decoration-text (14px, 20px);
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    transform: translate(74px, -16px);
  }

  @media (min-width: $desktop-width) {
    transform: translate(49px, 3px);
  }
}

.example__cat-before {
  display: flex;
  overflow-x: hidden;
}

.example__cat-after {
  display: flex;
  justify-content: end;
  overflow-x: hidden;
}

.example__slider-cat-image {
  min-width: auto;
  max-width: none;
}

.example__slider-toggle-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotate(90deg) translate(-4px, -13px);

  @media (min-width: $tablet-width) {
    transform: rotate(90deg) translate(-4px, -22px);
  }

  @media (min-width: $desktop-width) {
    transform: rotate(90deg) translate(-45px, -25px);
  }
}

.example__slider-toggle {
  position: relative;
  width: 256px;
  height: 4px;
  background-color: $special-grey-2;
  transition: background-color 0.3 ease;
  cursor: grab;

  &:hover {
    background-color: $basic-green;

    .example__slider-button {
      border: 2px solid $basic-green;
    }

    .slider-mark-image {
      color: $basic-green;
      //Покраска стрелочек кнопки слайдера при hover.
    }
  }

  &:active {
    background-color: $basic-green-2;

    .example__slider-button {
      border: 2px solid $basic-green-2;
    }

    .slider-mark-image {
      color: $basic-green-2;
      //Покраска стрелочек кнопки слайдера при active.
    }
  }

  @media (min-width: $tablet-width) {
    width: 512px;
  }
}

.example__slider-button {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(90deg);
  display: flex;
  align-items: center;
  border: 2px solid $special-grey-2;
  border-radius: 50%;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  cursor: grab;
}
