.example-slider {
  position: relative;
  display: grid;
  grid-template-columns: 140px 140px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px 280px;
    max-width: 80%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 46% 46%;
    grid-column: 2/-1;
    grid-row: 1/-1;
    max-width: 100%;
  }
}
