.footer {
  min-width: 280px;
}

.footer__wrapper {
  background-color: $basic-grey;
  padding: 40px 0;
  min-height: 160px;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 61px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0;
  }
}

.footer__logo-link {
  display: flex;
  justify-content: center;
}

.footer__logo {
  margin-bottom: 40px;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }

  &:focus-visible {
    color: #3e3e3e;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.footer__list {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
