.footer {
  min-width: 280px;
  background-color: $basic-grey;
}

.footer__wrapper {
  padding: 40px 20px;
  min-height: 160px;


  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 61px $horizontal-tablet-padding;
  }
}

.footer__logo-link {
  display: flex;
  justify-content: center;
}

.footer__logo {
  margin-bottom: 40px;
  width: 128px;
  height: 24px;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }

  &:focus-visible {
    color: #3e3e3e;
  }

  @media (min-width: $tablet-width) {
    transform: translateY(-6px);
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    transform: translateY(3px);
  }
}

.footer__list {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    transform: translateX(29px);
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    transform: translate(21px, 8px);
  }

  @media (max-width: $pre-tablet) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: -20px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after {
      position: absolute;
      content: "";
      top: 42px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}
