.form {}

.form__wrapper {
  min-width: 320px;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 41px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
    padding-top: 74px;
  }
}

.form__main-title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 37px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form__main-description {
  @include secondary-decoration-text (14px, 18px);
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__text-radio-container {
  @media (min-width: $desktop-width) {
    gap: 80px;
  }
}

.form__inputs {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 53% 47%;
  }
}

.form__group {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__group--text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.form__group--custom-radio {
  position: relative;
  padding-left: 45px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__group--custom-checkbox {
  position: relative;
  padding-left: 44px;

  @media (min-width: $tablet-width) {
    padding-left: 59px;
  }
}

.form__textarea-wrapper {
  display: grid;
  grid-template-rows: min-content 1fr;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 70px;
  }
}

.form__label {
  @include secondary-decoration-text (16px, 18px);
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    .form__fieldset--contacts & {
      white-space: nowrap;
    }
  }
}

.form__input-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  mask-repeat: no-repeat;
  background-color: #000000;

  @media (min-width: $tablet-width) {
    top: 50%;
    right: 11px;
  }

  @media (min-width: $desktop-width) {
    top: 50%;
    right: 12px;
  }
}

/* Состояния для svg иконок в инпутах формы(передаем через инпут в спан). */
.form__input ~ .envelope-icon {
  mask-image: url("../../images/icons/stack.svg#envelope");
}

.form__input ~ .phone-icon {
  mask-image: url("../../images/icons/stack.svg#phone");
}

.form__input:focus-visible ~ .phone-icon,
.form__input:focus-visible ~ .envelope-icon {
  background-color: $basic-green;
  transition: background-color 0.3s ease;
}
/* Состояния для svg иконок в инпутах формы(передаем через инпут в спан). End */

.form__input-wrapper {
  position: relative;
  display: block;
}

.form__input {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 15px 14px;
  border: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid $special-grey;
  }

  &:focus-visible {
    outline: 2px solid #000000;
  }

  &::placeholder {
    font-family: $secondary-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $primary-text-color;
    opacity: 0.7;
    white-space: nowrap;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
  }
}

.form__input--error {
  outline: 1px solid #ff8282;
}

.form__input--error ~ .form__input-icon::after {
  background-color: $error-color;
}


.form__radio-label {}

.form__input-radio {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $basic-grey;
  border-radius: 50%;
  background-color: transparent;
  transform: translateY(7px);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    transform: translateY(12px);
  }
}

.form__input-radio--services {}

.form-checkbox {}

.form__checkbox-label {}

.form__input-checkbox {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $basic-grey;
  background-color: transparent;
  transform: translateY(7px);
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    transform: translateY(12px);
  }
}


.form__input-mark[type="radio"]:checked ~ .form__input-radio {
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    background-color: $basic-green;
    border-radius: 50%;
    background-repeat: no-repeat;
    transform: translateY(-50%) translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.form__input-mark[type="checkbox"]:checked ~ .form__input-checkbox,
.form__input-mark[type="checkbox"]:hover ~ .form__input-checkbox {
  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 18px;
    height: 14px;
    background-image: url("../../images/icons/stack.svg#icon-checkmark");
    background-repeat: no-repeat;
    transform: translateY(-50%) translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 19px;
    }
  }
}

.form__input-checkbox--extra {}

.form__input--name {
  min-width: 228px;
  min-height: 45px;
  width: calc(228px / 320px * 100%);

  @media (min-width: $tablet-width) {
    min-width: 568px;
    min-height: 52px;
    width: calc(568px / 768px * 100%);
  }

  @media (min-width: $desktop-width) {
    min-width: 510px;
    width: calc(510px / 1440px * 100%);
  }
}

.form__input--weight {
  min-width: 207px;
  min-height: 45px;
  width: calc(207px / 320px * 100%);

  @media (min-width: $tablet-width) {
    min-width: 540px;
    min-height: 52px;
    width: calc(540px / 768px * 100%);
  }

  @media (min-width: $desktop-width) {
    min-width: 482px;
    width: calc(482px / 1440px * 100%);
  }
}

.form__input--age {
  min-width: 173px;
  min-height: 45px;
  width: calc(173px / 320px * 100%);

  @media (min-width: $tablet-width) {
    min-width: 498px;
    min-height: 52px;
    width: calc(498px / 768px * 100%);
  }

  @media (min-width: $desktop-width) {
    min-width: 440px;
    width: calc(440px / 1440px * 100%);
  }
}

.form__input--email {
  min-width: 217px;
  min-height: 45px;
  padding-right: 38px;

  @media (min-width: $tablet-width) {
    min-width: 552px;
    height: 52px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    min-width: 494px;
    width: 100%;
  }
}

.form__input--phone {
  min-width: 200px;
  min-height: 45px;
  padding-right: 38px;

  @media (min-width: $tablet-width) {
    min-width: 530px;
    min-height: 52px;
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    min-width: 472px;
    width: 100%;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__fieldset--data {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    gap: 18px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 70px;
  }
}

.form__fieldset--services {
  margin-bottom: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.form__fieldset--contacts {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.form__fieldset--extra {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    margin-bottom: 60px;
  }
}

.form__services-list {
  @include list-normalize;
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $tablet-width) {
    border: 1px solid $basic-grey-2;
    padding-top: 16px;
    padding-right: 27px;
    padding-bottom: 27px;
    padding-left: 27px;
    min-width: 628px;
    min-height: 196px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-right: 28px;
    padding-bottom: 25px;
    padding-left: 28px;
    min-width: auto;
    max-width: 570px;
  }
}

.form__contacts-list {
  @include list-normalize;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.form__list-extra {
  @include list-normalize;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 32px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 0;
  }
}

.form__item {}

.form__item--sweetener {
  @media (min-width: $tablet-width) {
    margin-right: 123px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 109px;
  }
}

.form__item--water {
  @media (min-width: $desktop-width) {
    margin-right: 136px;
  }
}

.form__item--milk {
  @media (min-width: $tablet-width) {
    margin-right: 216px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 197px;
  }
}


.form__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  width: fit-content;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__title--contacts {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
  }
}

.form__title--textarea {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    grid-row: 1/2;
    margin-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 78px;
  }
}

.form__title--extra {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.form__comment-area {
  grid-row: 2/-1;
  resize: none;
  min-width: 280px;
  height: 150px;
  padding: 15px;
  border: 1px solid $basic-grey-2;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 628px;
    height: 175px;
    padding-top: 11px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    height: 175px;
    padding-top: 9px;
    padding-bottom: 9px;
  }
}

.form__button-note-container {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    grid-column: 1/-1;
    gap: 12px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 32px;
    margin-bottom: 82px;
  }
}

.form__button {
  min-width: 100%;
  min-height: 40px;
  padding: 10px 44px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    min-width: auto;
    max-width: 284px;
    min-height: 54px;
    padding: 14px 45px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 2/-1;
    font-size: 16px;
    line-height: 16px;
    text-align: unset;
  }
}
