.form {}

.form__group {
  @include secondary-decoration-text (24px, 26px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__label {
  @include secondary-decoration-text (16px, 18px);
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__email-container {
  position: relative;
}

.form__email-decoration {
  &::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 13px;
    mask-image: url("../../images/icons/stack.svg#icon-envelope");
    mask-repeat: no-repeat;
    background-color: #000000;
    transform: translate(-35px, 200%);
  }
}

.form__phone-container {
  position: relative;
}

.form__phone-decoration {
  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    mask-image: url("../../images/icons/stack.svg#icon-phone");
    mask-repeat: no-repeat;
    background-color: #000000;
    transform: translate(-30px, 200%);
  }
}

.form__input {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;

  &::placeholder {
    @include secondary-decoration-text (16px, 18px);
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}


.form__input--states {
  &:hover {
    outline: 1px solid #cdcdcd;
  }

  &:focus,
  &:active {
    .form__email-decoration::after,
    .form__phone-decoration::after {
      background-color: $basic-green;
    }
  }
}

.form__radio-label {}

.form__input-radio {}

.form__input-radio--services {}

.form-checkbox {}

.form__checkbox-label {}

.form__input-checkbox {}

.form__input-checkbox--extra {}

.form__input-name {
  min-width: 228px;
  min-height: 45px;
  padding: 15px 14px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    min-width: 568px;
    min-height: 52px;
    padding: 20px 11px;
  }

  @media (min-width: $desktop-width) {
    min-width: 510px;
  }
}

.form__input-weight {
  min-width: 207px;
  min-height: 45px;
  padding: 15px 14px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    min-width: 568px;
    min-height: 52px;
    padding: 20px 11px;
  }

  @media (min-width: $desktop-width) {
    min-width: 540px;
  }
}

.form__input-age {
  min-width: 173px;
  min-height: 45px;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;
  appearance: none;

  @media (min-width: $tablet-width) {
    min-width: 498px;
    min-height: 52px;
    padding: 20px 11px;
  }

  @media (min-width: $desktop-width) {
    min-width: 440px;
  }
}

.form__input-email {
  min-width: 217px;
  min-height: 45px;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    min-width: 552px;
    min-height: 52px;
    padding: 20px 11px;
  }

  @media (min-width: $desktop-width) {
    min-width: 494px;
  }
}

.form__input-phone {
  min-width: 200px;
  min-height: 45px;
  padding: 10px 20px;
  border: 1px solid #e7e7e7;

  @media (min-width: $tablet-width) {
    min-width: 530px;
    min-height: 52px;
    padding: 20px 11px;
  }

  @media (min-width: $desktop-width) {
    min-width: 472px;
  }
}

.form__fieldset {
  border: none;
}

.form__fieldset--data {}

.form__fieldset--services {}

.form__fieldset--contacts {}

.form__fieldset--extra {}

.form__services-list {
  @include list-normalize;
}

.form__contacts-list {
  @include list-normalize;
}

.form__list-extra {
  @include list-normalize;
}

.form__item {}

.form__title {
  @include secondary-decoration-text (24px, 26px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__comment-area {
  resize: none;
  min-width: 280px;
  min-height: 150px;

  &::placeholder {
    @include secondary-decoration-text (16px, 18px);
    color: $primary-text-color;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    min-width: 628px;
    min-height: 175px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    min-height: 175px;
  }
}

.form__note {
  font-size: 14px;
  line-height: 16px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
