.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.header__logo {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text-wrapper {
  @media (max-width: $pre-tablet) {
    position: absolute;
    left: 50vw;
    transform: translate(-50%, -28px);
  }
}

.header__logo-text {
  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.header__nav-wrapper--substrate {
  @media (min-width: $desktop-width) {
    background-color: rgba(104, 183, 56, 0.85);
  }
}
