@use "../global/variables.scss" as *;

.header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 192px;

  @media (min-width: $tablet-width) {
    gap: 13px;
    min-width: auto;
  }

  @media (max-width: $pre-tablet) {
    display: block;
    min-width: auto;
  }
}
