.header {}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 24px 20px;
  margin: 0 auto;
  align-items: center;
  min-width: 320px;
  max-width: 1220px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 65px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0 55px;
    margin-bottom: 110px;
  }
}

.header__logo {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text-wrapper {
}

.header__nav-wrapper {}
