.header {}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 24px;
  margin: 0 auto;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 0;
  }
}

.header__logo {
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-text-wrapper {
}

.header__nav-wrapper {}
