.hero {
}

.hero__wrapper {
  background-image: url("../../images/index-background-phone@1x.webp");
  background-size: 320px 302px;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    content: "";
    min-height: 302px;
    background-color: rgba(104, 183, 56, 0.85);

    @media (min-width: $tablet-width) {
      display: none;
      min-width: 768px;
    }

    @media (min-width: $desktop-width) {
      display: block;
      min-width: 720px;
      min-height: 624px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/index-background-phone@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../../images/index-background-desktop@1x.webp");
    background-size: 720px 624px;
    min-width: 720px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/index-background-desktop@2x.webp");
  }
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.hero__description {
  @include secondary-decoration-text (14px, 14px);
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.hero__picture {}

.hero__image {}
