.hero {}

.hero__wrapper {
  @include background-image-set;
  background-image: url("../../images/index-background-phone@1x.webp");
  background-size: 320px 302px;
  min-width: 320px;

  /* &::after {
    position: absolute;
    content: "";
    background-size: cover;
    width: 320px;
    height: 302px;
    background-color: rgba(104, 183, 56, 0.85);
  } */
  @media (min-resolution: 2dppx) {
    background-image: url("../../images/index-background-phone@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(104, 183, 56, 0.85);
    background-image: url("../../images/index-background-desktop@1x.webp");
    background-size: 720px 624px;
    min-width: 720px;
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../../images/index-background-desktop@2x.webp");
  }
}

.hero__title {
  @include secondary-decoration-text (36px, 36px);
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.hero__description {
  @include secondary-decoration-text (14px, 14px);
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.hero__picture {}

.hero__image {}
