@use "../global/variables.scss" as *;

.hero {
  position: relative;
  padding-top: 14px;

  &::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/index-background-phone@1x.webp");
    background-repeat: no-repeat;
    background-size: 100% 302px;
    background-position-x: center;
    min-width: 100%;
    min-height: 302px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/index-background-phone@2x.webp");
    }

    @media (min-width: $desktop-width) {
      display: block;
      position: absolute;
      top: -114px;
      right: 0;
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/index-background-desktop@1x.webp");
      background-position-x: 14px;
      background-size: 1041px 694px;
      min-width: 51%;
      min-height: calc(100% + 169px);
      z-index: 1;
    }

    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/index-background-desktop@2x.webp");
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.hero__wrapper {
  min-width: $min-width-container;
  max-width: $max-width-container;
  padding-bottom: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 65px;
    padding-left: 30px;
    padding-bottom: 538px;
    background-image: none;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 505px 1fr;
    grid-template-rows: min-content min-content 1fr;
    padding-top: 110px;
    padding-bottom: 54px;
  }
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    padding-top: 0;
    margin-left: 89px;
    margin-bottom: 40px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.hero__description {
  @include secondary-decoration-text (14px, 14px);
  color: #ffffff;
  text-align: center;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    color: #000000;
    text-align: start;
    margin-left: 89px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-bottom: 52px;
  }
}

.hero__picture {
  width: 100%;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 266px;
    left: 30px;
    width: 92.3%;
    min-width: 709px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    grid-column: 2/-1;
    grid-row: 1/-1;
    transform: translate(-19%, -16%);
    z-index: 1;
  }
}

.hero__button-container {
  padding-left: $horizontal-phone-padding;
  padding-right: $horizontal-phone-padding;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 89px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    z-index: 0;
  }
}

.hero__button {
  min-width: 100%;
  padding: 10px 26px;

  @media (min-width: $tablet-width) {
    max-width: 244px;
    min-width: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}
