.hero {}

.hero__wrapper {
  @include background-image-set;
}

.hero__title {
  @include secondary-decoration (36px, 36px);
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.hero__description {
  @include secondary-decoration (14px, 14px);
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.hero__picture {}

.hero__image {}
