.main-form {}

.main-form__wrapper {}

.main-form__title {
  @include secondary-decoration (36px, 36px);

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main-form__description {
  @include secondary-decoration (14px, 18px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__inputs {}
