.nav {
  @media (max-width: $pre-tablet) {
    position: relative;
  }
}

.nav__toggle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid transparent;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    &::before {
      background-color: $basic-green;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__toggle--open-burger {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    mask-image: url("../../images/icons/stack.svg#burger-open");
    mask-repeat: no-repeat;
    mask-size: 24px 24px;
    background-color: #000000;
    width: 24px;
    height: 24px;
  }
}

.nav__toggle--close-burger {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    mask-image: url("../../images/icons/stack.svg#burger-close");
    mask-repeat: no-repeat;
    mask-size: 18px 18px;
    background-color: #000000;
    width: 18px;
    height: 18px;
  }
}

.nav__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    position: static;
    display: block;
    margin-right: -11px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.nav__wrapper--phone-menu-open {
  @media (max-width: $pre-tablet) {
    position: absolute;
    top: 46px;
    right: -20px;
    display: block;
  }
}

.nav__list {
  @include list-normalize;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
  width: 100%;
  z-index: 3;

  @media (min-width: $tablet-width) {
    justify-content: start;
    flex-wrap: wrap;
  }

  @media (max-width: $pre-tablet) {
    flex-direction: column;
    justify-content: start;
    gap: 0;
    background-color: #ffffff;
    width: 100vw;
    min-height: 198px;
  }
}

.nav__list--index-desktop {}

.nav__item {
  @media (max-width: $pre-tablet) {
    display: flex;
    justify-content: center;
    border-top: 1px solid #e6e6e6;
    width: 100%;
    padding-top: 22px;
    padding-bottom: 24px;
  }
}

.nav__item:last-child {
  @media (max-width: $pre-tablet) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.nav__link {
  @include secondary-decoration-text (20px, 20px);
  position: relative;
  text-decoration: none;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.nav__link--index-desktop {
  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.nav__link--current {
  @media (min-width: $tablet-width) {
    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 31px;
      bottom: 0;
      height: 2px;
      background-color: $basic-green;
    }
  }
}

.nav__list--index-desktop .nav__link--current {
  &::after {
    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }
}
