.page__body--nojs {
  .header__nav-wrapper {
    @media (max-width: $pre-tablet) {
      max-width: 100%;
      min-width: 100%;
    }
  }

  .nav__list {
    @media (max-width: $pre-tablet) {
      width: 100%;
    }
  }

  .nav__toggle {
    display: none;
  }

  .nav__wrapper {
    @media (max-width: $pre-tablet) {
      display: block;
      position: static;
      margin-top: 15px;
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .address__invite-wrapper {
    @media (min-width: 1220px) {
      z-index: 1;
    }
  }

  .address__image-wrapper {
    display: block;
    position: absolute;
    bottom: 0;

    @media (min-width: $desktop-width) {
      top: 0;
    }
  }
}
