.page {}

.page__body {}

.page__body--nojs {
  .header__nav-wrapper {
    @media (max-width: $pre-tablet) {
      max-width: 100%;
      min-width: 100%;
    }

    .nav__list {
      width: 100%;
    }
  }
}
