.services-item {}

.services-item--decoration {
  background-color: $basic-grey;
}

.services-item--cat-slim {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../../images/cat-back-slim.svg");
    background-size: 50px 51px;
    background-repeat: no-repeat;
    transform: translate(0, -5px);
    width: 50px;
    height: 53px;

    @media (min-width: $tablet-width) {
      background-size: 200px 205px;
      width: 200px;
      height: 205px;
      transform: translate(400px);
    }

    @media (min-width: $desktop-width) {
      background-size: 100px 103px;
      width: 100px;
      height: 103px;
    }
  }
}

.services-item--cat-pro {
  &::before {
    position: absolute;
    content: "";
    background-image: url("../../images/cat-back-pro.svg");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    transform: translate(-20px, -5px);
    width: 67px;
    height: 50px;

    @media (min-width: $tablet-width) {
      background-size: 268px 200px;
      width: 268px;
      height: 200px;
      transform: translate(400px);
    }

    @media (min-width: $desktop-width) {
      background-size: 134px 100px;
      width: 134px;
      height: 100px;
    }
  }
}

.services-item__title {
  @include secondary-decoration-text (24px, 37px);
  margin: 0 0 29px 0;
  text-align: center;
  transform: translate(10px);

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    transform: translate(0);
  }
}

.services-item__description {
  margin: 0 0 38px 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.services-item__link {
  @include secondary-decoration-text(16px, 16px);
  position: relative;
  text-decoration: none;
}

.services-item__link--states {
  &::after {
    content: "";
    position: absolute;
    mask-image: url("../../images/icons/stack.svg#arrow-right");
    mask-repeat: no-repeat;
    mask-position: -8px;
    background-color: #000000;
    width: 32px;
    height: 10px;
    transition: 0.3s ease-in-out;
  }

  &:hover::after {
    mask-position: 0;
  }

  &:active {
    opacity: 0.3;
  }
}

.services-item__link-text {
  @include secondary-decoration-text (16px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.services-item__icon {}
