.services {}

.services__container {}

.services__list {
  @include list-normalize;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.services__item {
  min-height: 266px;
  min-width: 280px;
  padding: 30px 33px 18px $horizontal-phone-padding;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 372px;
    min-width: 708px;
    padding: 77px 20px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    min-height: 374px;
  }
}
