.services__container {
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.services__list {
  @include list-normalize;

  @media (min-width: $tablet-width) {
    margin-top: -13px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.services__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
