.services {}

.services__container {}

.services__list {
  @include list-normalize;

  @media (min-width: $tablet-width) {
    margin-top: -13px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.services__item {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    &:nth-child(2) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;

    &:nth-child(2) {
      margin-bottom: 63px;
    }
  }
}
