.services-item {
  min-height: 266px;
  padding: 30px 33px 18px $horizontal-phone-padding;

  &:nth-child(2) .services-item__title {
    margin-left: 51px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 372px;
    min-width: 708px;
    padding: 77px 20px 57px 52px;

    &:nth-child(2) .services-item__title {
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      min-width: 570px;
      max-width: 570px;
      min-height: 374px;
      padding-bottom: 56px;

      &:nth-child(2) .services-item__title {
        margin-left: -3px;
      }

      &:nth-child(2) .services-item__link--arrow::after {
        top: 12px;
      }
    }
  }
}


.services-item--decoration {
  background-color: $basic-grey;
}

.services-item__cat-slim {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    background-image: url("../../images/cat-back-slim.svg");
    background-size: 50px 51px;
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;

    @media (min-width: $tablet-width) {
      top: 3px;
      left: -31px;
      background-size: 200px 205px;
      width: 200px;
      height: 205px;
    }

    @media (min-width: $desktop-width) {
      top: 5px;
      left: -2px;
      background-size: 100px 103px;
      width: 100px;
      height: 103px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    transform: translateY(-30px);
  }
}

.services-item__cat-pro {
  position: relative;

  &::before {
    position: absolute;
    top: -3px;
    left: 13px;
    content: "";
    background-image: url("../../images/cat-back-pro.svg");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    transform: translate(-20px, -5px);
    width: 67px;
    height: 50px;

    @media (min-width: $tablet-width) {
      top: 16px;
      left: -42px;
      background-size: 268px 200px;
      width: 268px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      top: 14px;
      left: 2px;
      background-size: 134px 100px;
      width: 134px;
      height: 100px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 3/-1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    transform: translateY(-30px);
  }
}

.services-item__title {
  @include secondary-decoration-text (24px, 37px);
  margin: 0;
  margin-left: 20px;
  margin-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    margin-top: -3px;
    margin-left: 0;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    margin-top: 13px;
    margin-left: -4px;
    margin-bottom: 70px;
  }
}

.services-item__description {
  margin: 0;
  margin-bottom: 38px;

  & br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 58px;

    & br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/4;
    margin-bottom: 32px;

    & br {
      display: none;
    }
  }
}

.services-item__link {
  @include secondary-decoration-text(16px, 16px);
  position: relative;
  text-decoration: none;
  margin-top: auto;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
  }

  @media (max-width: $pre-tablet) {
    position: relative;

    &::before {
      position: absolute;
      top: -18px;
      content: "";
      height: 1px;
      width: 100%;
      background-color: $decoration-border-color;
    }
  }
}

.services-item__link--arrow {
  &::after {
    position: absolute;
    top: 10px;
    left: 97px;
    content: "";
    mask-image: url("../../images/icons/stack.svg#arrow-right");
    mask-repeat: no-repeat;
    mask-position: -8px;
    background-color: #000000;
    width: 32px;
    height: 10px;
    transition: 0.3s ease-in-out;
    transform: translate(10px, -50%);
  }

  &:hover::after {
    mask-position: 0;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: 12px;
      left: 128px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      top: 17px;
    }
  }
}

.services-item__link-text {
  @include secondary-decoration-text (16px, 16px);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.services-item__icon {}
