.social-list {
  @include list-normalize;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social-list__item {}

.social-list__link {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #666666;

  &:hover,
  &:focus-visible {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link--vk {
  &::before {
    position: absolute;
    content: "";
    mask-image: url("../../images/icons/stack.svg#vk");
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
    background-color: #666666;
    width: 28px;
    height: 22px;
    transition: background-color 0.3s ease;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.social-list__link--youtube {
  &::before {
    position: absolute;
    content: "";
    mask-image: url("../../images/icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
    background-color: #666666;
    width: 28px;
    height: 22px;
    transition: background-color 0.3s ease;
  }
}

.social-list__link--telegram {
  &::before {
    position: absolute;
    content: "";
    mask-image: url("../../images/icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-size: 28px 22px;
    background-color: #666666;
    width: 28px;
    height: 22px;
    transition: background-color 0.3s ease;
  }
}
