.social-list {
  @include list-normalize;
}

.social-list__item {}

.social-list__link {
  color: #666666;

  &:hover {
    color: $basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    color: $basic-green;
  }
}

.social-list__icon {
}
